<html>

<head>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
  {% include "navigation.html" %}

  <div class="row justify-content-center">
    <h1>Courses</h1>
  </div>

  <div class="text-center">
    <a href="#myModal" class="btn btn-info" data-toggle="modal">Add Recipes</a>
  </div><br>

  <div id="myModal" class="modal fade">
    <div class="modal-dialog modal-login">
      <div class="modal-content">
        <div class="modal-header">

            <img src="../static/images/recipelogo.png" style="position: absolute;margin: 0 auto;left: 0;right: 0;top: -70px;width: 130px;height: 130px;border-radius: 50%;"  alt="Logo">

          <h4 class="modal-title">Add a new...</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <div class="row justify-content-center">
              <a href='{{url_for('newRecipe', course_id = 1) }}' class="btn btn-info col-md-4">
                <h5>Appetizer</h5>
              </a>
            </div><br>
            <div class="row justify-content-center">
              <a href='{{url_for('newRecipe', course_id = 2) }}' class="btn btn-info col-md-4">
                <h5>Main Course</h5>
              </a>
            </div><br>
            <div class="row justify-content-center">
              <a href='{{url_for('newRecipe', course_id = 3) }}' class="btn btn-info col-md-4">
                <h5>Dessert</h5>
              </a>
            </div>
          </div>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-2">
    </div>
    <!--Appetizer-->
    <div class="col-lg-3">
      <div class="card text-center" style="max-width: 202px;">
        <div class="card-body">
          <h4 class="card-title">Appetizer</h4>
        </div>
        <img src="../static/images/appetizer.jpg" class="center" style="width:130px;height:150px;display:block;margin-left: auto;margin-right:auto;" alt="Appetizer">
        <div class="card-body"><br>
          <a href="{{url_for('courseMenu', course_id=1)}}" class="btn btn-info">View Recipes</a>
        </div>
        <div class="row justify-content-center">
        </div><br>
      </div>
    </div>

    <!--Main Course-->
    <div class="col-lg-3">
      <div class="card text-center" style="max-width: 202px;">
        <div class="card-body">
          <h4 class="card-title">Main Course</h4>
        </div>
        <img src="../static/images/maincourse.jpg" class="center" style="width:130px;height:150px;display:block;margin-left:auto;margin-right: auto;" alt="Main Course">
        <div class="card-body"><br>
          <a href="{{url_for('courseMenu', course_id=2)}}" class="btn btn-info">View Recipes</a>
        </div>
        <div class="row justify-content-center">
        </div><br>
      </div>
    </div>

    <!--Dessert-->
    <div class="col-lg-3">
      <div class="card text-center" style="max-width: 202px;">
        <div class="card-body">
          <h4 class="card-title">Dessert</h4>
        </div>
        <img src="../static/images/dessert.jpg" class="center" style="width:130px;height:150px;display:block;margin-left:auto;margin-right: auto;" alt="Dessert">
        <div class="card-body"><br>
          <a href="{{url_for('courseMenu',  course_id=3)}}" class="btn btn-info">View Recipes</a>
        </div>
        <div class="row justify-content-center">
        </div><br>
      </div>
    </div>


  </div>
</div><br><br>
    {% include "footer.html" %}
</body>
</html>
