<html>

<head>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
  <h2 style="margin-left:20px;"> New Recipe </h2>
    <form action="{{url_for('newRecipe', course_id=course_id )}}" method='POST'>

      <dl class="modify-team" style="margin-left:20px;">
        <dt>Name:</dt>
        <dd><input type='text' size='30' name='name' required></dd>
        <dt>Total Time:</dt>
        <dd><input type='text' size='12' name='total_time' required></dd>
        <dt>Prep Time:</dt>
        <dd><input type='text' size='12' name='prep_time' required></dd>
        <dt>Cook Time:</dt>
        <dd><input type='text' size='12' name='cook_time' required></dd>
        <dt>Difficulty:</dt>
        <dd><input type='text' size='2' name='difficulty' required></dd>
        <dt>Yield:</dt>
        <dd><input type='text' size='16' name='output' required></dd>
        <dt>Directions:</dt>
        <dd><textarea name='directions' rows='5' cols='40' required></textarea></dd>
        <dt>Ingredients:</dt>
        <dd><textarea name='ingredients' rows='5' cols='40' required></textarea></dd>
      </dl>
      <input class="submit-button" type='submit' value='Create' style="margin-left:20px;">
    </form>
    <a style="margin-left:20px;" href='{{url_for('courseMenu', course_id=course_id)}}'>Cancel</a>
  </body>
  </html>
