<html>

<head>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
  {% include "navigation.html" %}
  <div class="row">
    <div class="col-lg-1">
    </div>
    <a href='{{url_for('courseMenu', course_id=course_id)}}' class="btn btn-info glyphicon glyphicon-arrow-left col-md-1">
      <h5>Back</h5>
    </a>
  </div>
  <main class="my-form">
    <div class="cotainer">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <div class="card">
            <div class="card-header">
              <div class="row justify-content-center">
                <h3>New Recipe</h3>
              </div>
            </div>
            <div class="card-body">
              <form action="{{url_for('newRecipe', course_id=course_id )}}" method='POST' enctype="multipart/form-data">
                <h5><b>Name:</b></h5>
                <input type='text' class="form-control col-md-6" size='30' name='name' required><br><br><br>

                <div class="form-group row ">
                  <label for="total_time" class=" col-form-label text-md-right">
                    <h5><b>Total Time:</b></h5>
                  </label>
                  <div class="col-md-3">
                    <input type='text' class="form-control" size='12' name='total_time' required>
                  </div>
                  <label for="prep_time" class="col-form-label text-md-right">
                    <h5><b>Prep Time:</b></h5>
                  </label>
                  <div class="col-md-3">
                    <input type='text' class="form-control" size='12' name='prep_time' required>
                  </div>
                  <label for="cook_time" class="col-form-label text-md-right">
                    <h5><b>Cook Time:</b></h5>
                  </label>
                  <div class="col-md-3">
                    <input type='text' class="form-control" size='12' name='cook_time' required>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="yield" class="col-md-2 col-form-label text-md-right">
                    <h5><b>Yield:</b></h5>
                  </label>
                  <div class="col-md-3">
                    <input type='text' class="form-control" size='16' name='output' required>
                  </div>
                  <label for="difficulty" class="col-md-3 col-form-label text-md-right">
                    <h5><b>Difficulty:</b></h5>
                  </label>
                  <div class="col-md-3">
                    <input type='text' class="form-control" size='2' name='difficulty' required>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-6">
                    <h5><b>Directions:</b></h5>
                    <textarea name='directions' class="form-control " rows='5' cols='40' required></textarea>
                  </div>
                  <div class="col-lg-6">
                    <h5><b>Ingredients:</b></h5>
                    <textarea name='ingredients' class="form-control" rows='5' cols='40' required></textarea>
                  </div>
                </div><br>
                <div class="row justify-content-center">
                  <h5><b>Image:  </h5></b><br>
                </div>
                  <div class="row justify-content-center">
                  <input type=file name=image required>
                </div>
                <br>
                <div class="row justify-content-center">
                  <input class="btn btn-info" type='submit' value='Create' style="margin-left:20px;">
                </div>
                <hr>
                <div class="row justify-content-center">
                  <a style="margin-left:20px;" href='{{url_for('courseMenu', course_id=course_id)}}'>Cancel</a>

                </div>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    </div>

  </main>
  {% include "footer.html" %}
</body>

</html>
